@using System.Data;
@using Newtonsoft.Json;
@using System.Web;
@using Tools.Tools.Grid;
@model InitGrid

<style type="text/css">

    table {
        width: 100%;
    }

    td {
        width: 200px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
    }

    td, th {
        padding: 15px 10px;
        border: 1px solid #999;
        text-align: right;
    }

    .th, .th a {
        background: gray;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 2px 5px;
        margin: 0 5px;
    }

    .tr, .tr a {
        background: LightGray;
        color: #000;
        border: 1px solid #999;
        border-radius: 4px;
        padding: 2px 5px;
        margin: 0 5px;
    }

    tfoot > tr > td > button {
        color: #000;
        width: 33px;
        height: 33px;
        border: 1px solid #999;
        border-radius: 4px;
        padding: 1px 5px 2px 5px;
        margin: 0 5px;
    }

    .activePager{background: white;}

    /* to toggle between (view and edit modes) of control box*/
    .ctrlView > div:first-child {
        display: block;
    }

    .ctrlView > div:last-child {
        display: none;
    }

    .ctrlEdit > div:first-child {
        display: none;
    }

    .ctrlEdit > div:last-child {
        display: block;
    }

    .hide {
        display: none;
    }

    /*
    table tr td:nth-child(2) {
      display:none;
    }*/


    [disabled] {
        background-color: #cccccc;
        color: #666666;
        cursor: no-drop;
    }
</style>

<div class='container mt-5 p-3'>
    <table id="@Model.grid.GridName">
        @*<partial name="_InitGrid" model="@Model" />*@
    </table>
</div>

@{
    string grid = JsonConvert.SerializeObject(Model.grid);
    string columns = JsonConvert.SerializeObject(Model.columns);
    object rows = JsonConvert.SerializeObject(Model.rows);
    string footer = JsonConvert.SerializeObject(Model.Footer);
}

<script type="text/javascript">

const grid = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(grid)')));
const columns = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(columns)')));
const colsLength = columns.length;
const rows = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(rows)')));
const footer = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(footer)')));
var table = document.getElementById('@Model.grid.GridName');

// ---------------------------------------------------------------------------- table start
HTMLTableElement.prototype.addRow = addRow;
function addRow(data, rowType){
  let row;
  switch(rowType){
    case 'header':
        let THead;
        if (this.tHead===undefined||this.tHead===null){THead=this.createTHead();}else{return;}
        row = THead.insertRow(0); 
        row.id = 'headerRow';
        row.className = 'th';
        // {colIndex:0, colName:'name', colTitle:'الاسم', isVisable:true, colWidth: 200, inputType: 'text', keyType:'pk'}
        data.push({ColName:'ctrl', ColTitle:'', IsVisable:true});
        data.map((item) => { row.addHeaderCell(item.ColName, item.ColTitle, item.IsVisable);  }); 
    break;
      
    case 'row': 
        let rowId = Math.floor((Math.random() * 100000) + 1);
        let TBody = ((this.tBodies.length == 0)? this.createTBody() : this.tBodies[0]);
        row = TBody.insertRow(-1); 
        row.id = rowId;
        row.className = 'tr';
        Object.entries(data).map(([key, value]) => {  row.addCell(key, value) });
        row.addCell('msg', '<b>هل انت متاكد من الحذف !</b>');
        row.addCell('ctrl', rowId);
      break;
      
    case 'footer':
      let TFoot;
      if (this.tFoot === undefined || this.tFoot === null){ TFoot = this.createTFoot(); }
      else { this.deleteTFoot(); TFoot = this.createTFoot(); }
      row = TFoot.insertRow(0);
      row.id = 'footerRow';

      row.dataset.lastPagerCount = data.lastPagerCount;
      row.dataset.isLastFooterRange = data.isLastFooterRange;
      row.dataset.lastPageRowsCount = data.lastPageRowsCount;

      let newCell = row.insertCell();
      newCell.colSpan = colsLength+1;
      newCell.style = 'text-align:center;';
        let prevMin = data.fRange[0] - 1;
        newCell.innerHTML = `<button data-pager='prev-${prevMin}' onclick="onPaging('prev', '${prevMin}')" ${data.isPrevDisabled} class="bi bi-chevron-left"></button>`;
      data.fRange.map((fBtn) => {
          var IsActive = (fBtn == data.activeBtn ? "class='activePager'" : ""); 
          newCell.innerHTML += `<button data-pager='${fBtn}' ${IsActive} onclick="onPaging('page', '${fBtn}')">${fBtn}</button>`;
      });
        let rangeMax = data.fRange[data.fRange.length - 1]+1;
        newCell.innerHTML += `<button data-pager='next-${rangeMax}' onclick="onPaging('next', '${rangeMax}')" ${data.isNextDisabled} class="bi bi-chevron-right"></button>`; 
      break;
  } 
}
HTMLTableRowElement.prototype.addCell = addCell;
function addCell(key, val){
  if(key == 'ctrl') {val = controlBox(val);}
  let newCell = this.insertCell();
  let col = columns[newCell.cellIndex];
  newCell.dataset.col = key;
  newCell.innerHTML = (key != 'ctrl' && key != 'msg') ? cellContent('text', key, col.ColTitle, val): val;
  newCell.className = (key == 'msg'?'hide':'ctrlView');
  newCell.colSpan = (key == 'msg'?colsLength:0);
}
HTMLTableRowElement.prototype.addHeaderCell = addHeaderCell;
function addHeaderCell(name, dName, isVisable){
  let newCell = this.insertCell(); 
  newCell.setAttribute("style", (isVisable === true? '': 'display:none;'));
  newCell.className = 'ctrlView'; 
  newCell.dataset.col = name; 
  newCell.innerHTML = (name=="ctrl") ? controlBox('headerRow') : cellContent('text', name, dName, '', true);
}
HTMLTableElement.prototype.emptyBody = emptyBody;
function emptyBody(){
        this.tBodies[0].remove();
        this.createTBody();
}
function cellContent(type, name, dname, val, isHeader = false){
  return (isHeader === true) ?
  `<div>${dname}</div><div>${dname}<input data-hinput='${name}' type='${type}' name='${name}' value='${val}'></div>`: // for header true
  `<div>${val}</div><div>${dname}<input data-rinput='${name}' type='${type}' name='${name}' value='${val}'></div>`; // for normal row false default
}
const controlBox = (rowId) => {
  if (rowId == "headerRow"){
        return  `<div><a href='#' class='bi bi-plus' onclick="toggleRow('headerRow')"></a><a href='#' class='bi bi-caret-down' onclick="alert('DDL')"></a></div><div><a href='#' class='bi bi-x' id='toggle${rowId}' onclick="toggleRow('headerRow')"></a><a href='#' class='bi bi-check' onclick="onSave('headerRow')"></a></div>`; 
  } else {
        return `<div><a href='#' class='bi bi-pencil-square' onclick="toggleRow('${rowId}')"></a><a href='#' class='bi bi-trash3' onclick="toggleConfirm('${rowId}')"></a></div><div><a href='#' class='bi bi-x' id='toggle${rowId}' onclick="toggleRow('${rowId}')"></a><a href='#' class='bi bi-check' onclick="alert('edit or delete ${rowId}')"></a></div>`;
  }
}
// ---------------------------------------------------------------------------- table end

// ---------------------------------------------------------------------------- table Action start
window.onload =  populateTable();
function populateTable(){
    table.addRow(columns,'header');
    rows.map(row => { table.addRow(row, 'row'); });
    table.addRow(footer, 'footer');
}
function onSave(rowId){
    let row = document.getElementById(rowId); 
    let jsonRow = {};
    [...row.cells].map(cell => {

      if(cell.dataset.col != 'ctrl') { jsonRow[cell.dataset.col] = cell.lastChild.lastChild.value; }

    });
    table.addRow(jsonRow,'row'); 
}
function onDelete(rowId){
  alert('delete ' + rowId)
}

function onPaging(nav, fotId) {
        var jsonObj = { nav: nav, fotId: fotId };
        
        callAction(`@Model.grid.OnPagingAction`, jsonObj,
            (data)=> {
            data = JSON.parse(data); 

        if (nav == 'page') {
            document.querySelector('.activePager').classList.remove('activePager');
            document.querySelector(`[data-pager='${fotId}']`).classList.add('activePager');
            table.emptyBody(); 
            data.map(row => { table.addRow(row, 'row'); }); 
        } else {
            const getRows = data.rows;
            const getFooter = data.footer;
            table.emptyBody();
            getRows.map(row => { table.addRow(row, 'row'); });
            table.addRow(getFooter, 'footer');
        }
    } , 
    (err)=>{ alert('err'); console.log(err);} );
}
function toggleConfirm(rowId){
    let row = document.getElementById(rowId); 
    document.getElementById(`toggle${rowId}`).onclick = function() { toggleConfirm(rowId); };
    [...row.cells].map(cell => {  
      if (cell.dataset.col != 'ctrl') {cell.classList.toggle('hide');}
      else {cell.classList.toggle('ctrlView');cell.classList.toggle('ctrlEdit');}
    });
}
function toggleRow(rowId){
  let row = document.getElementById(rowId);
  document.getElementById(`toggle${rowId}`).onclick = function() { toggleRow(rowId); };
  [...row.cells].map(cell => {
    cell.classList.toggle('ctrlEdit');
    cell.classList.toggle('ctrlView');
  })
}
// ---------------------------------------------------------------------------- table Action end

function callAction(url, dataJson, callbackOk, callbackErr){

    const params = new URLSearchParams();
    Object.entries(dataJson).map(([key, val]) => { params.append(key, val); });

    var requestOptions = {
      method: 'POST',
      body: params
    };

    fetch(url, requestOptions)
    .then(response => response.json())
    .then(result => callbackOk(result))
    .catch(err => callbackErr(err));

}
 

</script>