@model List<PagerButton>


@foreach (var item in Model)
{
    if (item.IsStart)
    {
        <a href="#" class="@item.Ico.PrevSVG" @(item.AllowPrev? "":"disabled") onclick="pagination(@(item.PageNo), 'Prev')"></a>
    }

    <a href="#" @(item.IsEnd?"end":"") id="page@(item.PageNo)" class="page @(item.IsActive ? "activePageBtn":"")" onclick="pagination(@(item.PageNo), '')">@(item.PageNo)</a>

    if (item.IsEnd)
    {
        <a href="#" class="@item.Ico.NextSVG" @(item.AllowNext? "":"disabled") onclick="pagination(@(item.PageNo), 'Next')"></a>
    }
}

 